<a href="https://colab.research.google.com/github/minerva-mcgonagraph/titanic/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If you went through my Chicken and Doggo notebook, you'll recall that the data (the images) were nice and neat. There weren't that many of them, there were about as many images of fried chicken as there were labradoodles, and they were all approximately the same size. If you didn't go through my Chicken and doggo notebook, then you probably think I'm mad. Just go through my chickken and doggo notebook. Join the madness. It's also cute.

But unfortunately, data in the real world isn't so nice and cute. Problems often involve millions of rows of data. So instead of a proverbial sandbox, it's a more literal one: how do you turn all those grains of sand into a sparkling castle? That's what we're going to explore here.

This notebook will use the python library pandas to do some feature engineering. Pandas is great if the data fits in memory. Since there's only a few hundred rows of data here, that's what we'll use.

This data set is from the ongoing Kaggle competition.

First we need the data. Pro tip: this is the easiest way to access a data set from kaggle. You will need to go to your account and generate a new API key. Then open that donwloaded file in a text editor and copy/paste.

In [15]:
import tensorflow as tf
import numpy as np
import pandas as pd
import math
import os
os.environ['minervamcgonagraph'] = "d5d9cffd4502b7f6be3e6ef7963c0aca" #['username'] = "key"
!chmod 600 /root/.kaggle/kaggle.json
!kaggle competitions download -c titanic

train.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

Now we'll do some initial set up. We'll set all numbers to display to two decimal places and set the limit of table displays to 15 rows.

In [0]:
#display preferences
pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_rows = 15

#put the data into a readable format
titanic_data = pd.read_csv('./train.csv')

#randomize the data
#note: the data has already been split so no need to worry about leaks
titanic_data = titanic_data.reindex(np.random.permutation(titanic_data.index))

now we'll do a first look at the data to see what we're working with. The training and test data combined account for a total of 1,309 passengers. Note that Titanic had a total of 1,317 passengers and a grand total of about 2,224 people on board (passengers and crew). For this project that's not important but that could affect the accuracy of the model in a real-world situation, since this model does not account for any crew members. Know your data!

In [28]:
#print the number of training examples
print("There are", len(titanic_data), "examples in the training set.")

#look at a few rows to get an idea of what the data is like
print(titanic_data[4:9])

#show the header row which will become the feature names. Also show the type - numeric or categorical, since we will need to deal with these separately.
titanic_data.dtypes

#next: create two new dataframes, one with the numeric data and one with the categorical data

There are 891 examples in the training set.
     PassengerId  Survived  Pclass  ...   Fare    Cabin  Embarked
498          499         0       1  ... 151.55  C22 C26         S
307          308         1       1  ... 108.90      C65         C
514          515         0       3  ...   7.50      NaN         S
656          657         0       3  ...   7.90      NaN         S
18            19         0       3  ...  18.00      NaN         S

[5 rows x 12 columns]

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object